Sales Project/pipeline/PL_EXT_FILE_SRC_TO_RAW.json
{
	"name": "PL_EXT_FILE_SRC_TO_RAW",
	"properties": {
		"activities": [
			{
				"name": "LKP_Get_File_Config",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "FE_Loop_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM control.PipelineConfig \nWHERE SourceType = 'FILE' AND IsActive = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_ASQL_Target",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "control",
							"TableName": "PipelineConfig"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_Loop_Files",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_Get_File_Config').output.value",
						"type": "Expression"
					},
					"batchCount": 4
				}
			}
		],
		"annotations": []
	}
}