Sales Project/pipeline/PL_EXT_SQL_SRC_TO_RAW_FULL.json
{
	"name": "PL_EXT_SQL_SRC_TO_RAW_FULL",
	"properties": {
		"activities": [
			{
				"name": "LKP_Get_Watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM control.Watermark",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_ASQL_Target",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "control",
							"TableName": "Watermark"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LKP_Get_SQL_Tables_Config",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LKP_Get_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM control.PipelineConfig WHERE SourceType = 'SQL' AND IsActive = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_ASQL_Target",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "control",
							"TableName": "PipelineConfig"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_Loop_SQL_Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_Get_SQL_Tables_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_Get_SQL_Tables_Config').output.value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "CPY_SQL_To_RAW",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@if(equals(item().LoadType,'INCREMENTAL'),concat('SELECT * FROM [',item().SourceSchema,'].[',item().SourceTableName,'] WHERE UPDATE_DT > ''',activity('LKP_Get_Watermark').output.value[0].WatermarkValue,''''),concat('SELECT * FROM [',item().SourceSchema,'].[',item().SourceTableName,']'))",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_SQLDB_SALES_Source",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_RAW_CSV",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@item().TargetFolderPath",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat(item().TargetFileName,'_',formatDateTime(utcNow(),'yyyyMMddHHmmss'),'.csv')",
											"type": "Expression"
										},
										"Container": {
											"value": "@item().TargetContainer",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP_Log_TableLog",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CPY_SQL_To_RAW",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[control].[usp_InsertTableLog]",
								"storedProcedureParameters": {
									"EndTime": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"RejectCount": {
										"value": "0",
										"type": "Int32"
									},
									"SourceCount": {
										"value": {
											"value": "@activity('CPY_SQL_To_RAW').output.rowsRead",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"SourceName": {
										"value": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"StartTime": {
										"value": {
											"value": "@activity('CPY_SQL_To_RAW').output.executionDetails[0].start",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"Status": {
										"value": "Success",
										"type": "String"
									},
									"TargetCount": {
										"value": {
											"value": "@activity('CPY_SQL_To_RAW').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"TargetName": {
										"value": {
											"value": "@item().IngestionTable",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQLDB_ASQL_Target",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_Insert_ErrorLog",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CPY_SQL_To_RAW",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[control].[usp_InsertErrorLog]",
								"storedProcedureParameters": {
									"ActivityName": {
										"value": "CPY_SQL_To_RAW",
										"type": "String"
									},
									"ErrorCode": {
										"value": {
											"value": "@activity('CPY_SQL_To_RAW').error.errorCode",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorMessage": {
										"value": {
											"value": "@activity('CPY_SQL_To_RAW').error.message",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceName": {
										"value": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TargetName": {
										"value": {
											"value": "@item().IngestionTable",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQLDB_ASQL_Target",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_Update_Watermark",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SP_Log_TableLog",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[control].[usp_UpdateWatermark]",
								"storedProcedureParameters": {
									"TableName": {
										"value": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"WatermarkValue": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQLDB_ASQL_Target",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}