Sales Project/pipeline/PL_EXT_FILE_SRC_TO_RAW.json
{
	"name": "PL_EXT_FILE_SRC_TO_RAW",
	"properties": {
		"activities": [
			{
				"name": "LKP_Get_File_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM control.PipelineConfig \nWHERE SourceType = 'FILE' AND IsActive = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_ASQL_Target",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "control",
							"TableName": "PipelineConfig"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_Loop_Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_Get_File_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_Get_File_Config').output.value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "CPY_FILE_To_RAW",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_BLOB_CSV",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": "@item().SourceSchema",
										"FileName": "@item().SourceTableName"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_RAW_CSV",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": "@item().TargetFolderPath",
										"FileName": {
											"value": "@concat(item().TargetFileName, '_', formatDateTime(utcNow(), 'yyyyMMddHHmmss'), '.csv')",
											"type": "Expression"
										},
										"Container": "@item().TargetContainer"
									}
								}
							]
						},
						{
							"name": "SP_Log_TableLog",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CPY_FILE_To_RAW",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[control].[usp_InsertTableLog]",
								"storedProcedureParameters": {
									"EndTime": {
										"value": "@utcNow()",
										"type": "DateTime"
									},
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "String"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "String"
									},
									"RejectCount": {
										"value": "0",
										"type": "Int32"
									},
									"SourceCount": {
										"value": "@activity('CPY_FILE_To_RAW').output.rowsRead",
										"type": "Int32"
									},
									"SourceName": {
										"value": "@item().SourceTableName",
										"type": "String"
									},
									"StartTime": {
										"value": "@activity('CPY_FILE_To_RAW').output.executionDetails[0].start",
										"type": "DateTime"
									},
									"Status": {
										"value": "Success",
										"type": "String"
									},
									"TargetCount": {
										"value": "@activity('CPY_FILE_To_RAW').output.rowsCopied",
										"type": "Int32"
									},
									"TargetName": {
										"value": "@item().IngestionTable",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQLDB_ASQL_Target",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_Insert_ErrorLog",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CPY_FILE_To_RAW",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[control].[usp_InsertErrorLog]",
								"storedProcedureParameters": {
									"ActivityName": {
										"value": "CPY_FILE_To_RAW",
										"type": "String"
									},
									"ErrorCode": {
										"value": "@activity('CPY_FILE_To_RAW').error.errorCode",
										"type": "String"
									},
									"ErrorMessage": {
										"value": "@activity('CPY_FILE_To_RAW').error.message",
										"type": "String"
									},
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "String"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "String"
									},
									"SourceName": {
										"value": "@item().SourceTableName",
										"type": "String"
									},
									"TargetName": {
										"value": "@item().IngestionTable",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQLDB_ASQL_Target",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}